.beginpagina {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left:5px;
}

body{
    margin:0;
}

img{
	margin-left:165px;
    
}

img.logo {
    height: 50px;
    width: 100px;
    padding-left: 260px;
    display: inline-block;
}

img.logo2 {
    height: 50px;
    width: 100px;
    padding-left: 280px;
    margin-bottom:10px;
    display: inline-block;
}

.nav-bar{
    margin:10px;
}

nav ul{
    text-align:center;
    margin-top: -42px;
    padding:0px;
    height: 18px;
}

nav ul li{
    display: inline-block; 
    margin-right: 20px;
    margin-left: 5px;
    list-style-type: none;
}

nav ul li a{
    font-size: 18pt;
    color: black;
    text-decoration: none;
}

nav ul li a:hover{
    color:#0066ff;
    text-decoration: none;
}

a.active{
    color: #0066ff;
}

h1{
    margin:10px;
    color:white;
    font-size:2.5em;
    font-family: sans-serif;
    text-align: center;
}

h1.voorwoord{
    padding:26px;
}

.voorpagina{
    font-family:sans-serif;
    margin-left:5px;
;
}

h2{
    margin:10px;
    color:white;
    font-size:2.5em;
    font-family: sans-serif;
    text-align: center;
}

h2.punten{
    padding:26px;
}

.container{
    background-color:#abb923;
    margin-bottom:20px;
}

.dropdown2 {
    position: relative;
    z-index:1000000;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.desc2 {
    padding: 15px;
    text-align: center;
}

.dropdown3 {
    position: relative;
    z-index:1000000;
    display: inline-block;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

.desc3 {
    padding: 15px;
    text-align: center;
}

.dropdown4 {
    position: relative;
    z-index:1000000;
    display: inline-block;
}

.dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown4:hover .dropdown-content4 {
    display: block;
}

.desc4 {
    padding: 15px;
    text-align: center;
}

.dropdown5 {
    position: relative;
    z-index:100000;
    display: inline-block;
}

.dropdown-content5 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown5:hover .dropdown-content5 {
    display: block;
}

.desc5 {
    padding: 15px;
    text-align: center;
}

.dropdown6 {
    position: relative;
    z-index:100000;
    display: inline-block;
}

.dropdown-content6 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown6:hover .dropdown-content6 {
    display: block;
}

.desc6 {
    padding: 15px;
    text-align: center;
}

.dropdown7 {
    position: relative;
    z-index:100000;
    display: inline-block;
}

.dropdown-content7 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown7:hover .dropdown-content7 {
    display: block;
}

.desc7 {
    padding: 15px;
    text-align: center;
}

.dropdown8 {
    position: relative;
    z-index:100000;
    display: inline-block;
}

.dropdown-content8 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown8:hover .dropdown-content8 {
    display: block;
}

.desc8 {
    padding: 15px;
    text-align: center;
}

.dropdown9 {
    position: relative;
    z-index:10000;
    display: inline-block;
}

.dropdown-content9 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown9:hover .dropdown-content9 {
    display: block;
}

.desc9 {
    padding: 15px;
    text-align: center;
}

.dropdown10 {
    position: relative;
    z-index:10000;
    display: inline-block;
}

.dropdown-content10 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown10:hover .dropdown-content10 {
    display: block;
}

.desc10 {
    padding: 15px;
    text-align: center;
}

.dropdown11 {
    position: relative;
    z-index:10000;
    display: inline-block;
}

.dropdown-content11 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown11:hover .dropdown-content11 {
    display: block;
}

.desc11 {
    padding: 15px;
    text-align: center;
}

.dropdown12 {
    position: relative;
    z-index:10000;
    display: inline-block;
}

.dropdown-content12 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown12:hover .dropdown-content12 {
    display: block;
}

.desc12 {
    padding: 15px;
    text-align: center;
}

.dropdown13 {
    position: relative;
    z-index:1000;
    display: inline-block;
}

.dropdown-content13 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown13:hover .dropdown-content13 {
    display: block;
}

.desc13 {
    padding: 15px;
    text-align: center;
}

.dropdown14 {
    position: relative;
    z-index:1000;
    display: inline-block;
}

.dropdown-content14 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown14:hover .dropdown-content14 {
    display: block;
}

.desc14 {
    padding: 15px;
    text-align: center;
}


.dropdown15 {
    position: relative;
    z-index:1000;
    display: inline-block;
}

.dropdown-content15 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown15:hover .dropdown-content15 {
    display: block;
}

.desc15 {
    padding: 15px;
    text-align: center;
}

.dropdown16 {
    position: relative;
    z-index:1000;
    display: inline-block;
}

.dropdown-content16 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown16:hover .dropdown-content16 {
    display: block;
}

.desc16 {
    padding: 15px;
    text-align: center;
}


.dropdown17 {
    position: relative;
    z-index:100;
    display: inline-block;
}

.dropdown-content17 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown17:hover .dropdown-content17 {
    display: block;
}

.desc17 {
    padding: 15px;
    text-align: center;
}

.dropdown18 {
    position: relative;
    z-index:100;
    display: inline-block;
}

.dropdown-content18 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown18:hover .dropdown-content18 {
    display: block;
}

.desc18 {
    padding: 15px;
    text-align: center;
}


.dropdown19 {
    position: relative;
    z-index:100;
    display: inline-block;
}

.dropdown-content19 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown19:hover .dropdown-content19 {
    display: block;
}

.desc19 {
    padding: 15px;
    text-align: center;
}

.dropdown20 {
    position: relative;
    z-index:100;
    display: inline-block;
}

.dropdown-content20 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown20:hover .dropdown-content20 {
    display: block;
}

.desc20 {
    padding: 15px;
    text-align: center;
}

.dropdown21 {
    position: relative;
    z-index:10;
    display: inline-block;
}

.dropdown-content21 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown21:hover .dropdown-content21 {
    display: block;
}

.desc21 {
    padding: 15px;
    text-align: center;
}

.dropdown22 {
    position: relative;
    z-index:10;
    display: inline-block;
}

.dropdown-content22 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown22:hover .dropdown-content22 {
    display: block;
}

.desc22 {
    padding: 15px;
    text-align: center;
}

.dropdown23 {
    position: relative;
    z-index:10;
    display: inline-block;
}

.dropdown-content23 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown23:hover .dropdown-content23 {
    display: block;
}

.desc23 {
    padding: 15px;
    text-align: center;
}

.dropdown24 {
    position: relative;
    z-index:10;
    display: inline-block;
}

.dropdown-content24 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown24:hover .dropdown-content24 {
    display: block;
}

.desc24 {
    padding: 15px;
    text-align: center;
}

.dropdown26 {
    position: relative;
    display: inline-block;
}

.dropdown-content26 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown26:hover .dropdown-content26 {
    display: block;
}

.desc26 {
    padding: 15px;
    text-align: center;
}

.dropdown27 {
    position: relative;
    display: inline-block;

}

.dropdown-content27 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown27:hover .dropdown-content27 {
    display: block;
}

.desc27 {
    padding: 15px;
    text-align: center;
}

.dropdown28 {
    position: relative;
    display: inline-block;
}

.dropdown-content28 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown28:hover .dropdown-content28 {
    display: block;
}

.desc28 {
    padding: 15px;
    text-align: center;
}

.dropdown29 {
    position: relative;
    display: inline-block;
}

.dropdown-content29 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown29:hover .dropdown-content29 {
    display: block;
}

.desc29 {
    padding: 15px;
    text-align: center;
}

.dropdown30 {
    position: relative;
    z-index:1000;
    display: inline-block;
}

.dropdown-content30 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown30:hover .dropdown-content30 {
    display: block;
}

.desc30 {
    padding: 15px;
    text-align: center;
}

.dropdown31 {
    position: relative;
    z-index:1000;
    display: inline-block;
}

.dropdown-content31 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown31:hover .dropdown-content31 {
    display: block;
}

.desc31 {
    padding: 15px;
    text-align: center;
}

.dropdown32 {
    position: relative;
    display: inline-block;
}

.dropdown-content32 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown32:hover .dropdown-content32 {
    display: block;
}

.desc32 {
    padding: 15px;
    text-align: center;
}

.dropdown33 {
    position: relative;
    display: inline-block;
}

.dropdown-content33 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown33:hover .dropdown-content33 {
    display: block;
}

.desc33 {
    padding: 15px;
    text-align: center;
}

.dropdown34 {
    position: relative;
    display: inline-block;
}

.dropdown-content34 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown34:hover .dropdown-content34 {
    display: block;
}

.desc34 {
    padding: 15px;
    text-align: center;
}

.dropdown36 {
    position: relative;
    display: inline-block;
}

.dropdown-content36 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown36:hover .dropdown-content36 {
    display: block;
}

.desc36 {
    padding: 15px;
    text-align: center;
}

.dropdown37 {
    position: relative;
    display: inline-block;
}

.dropdown-content37 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown37:hover .dropdown-content37 {
    display: block;
}

.desc37 {
    padding: 15px;
    text-align: center;
}

.dropdown38 {
    position: relative;
    display: inline-block;
}

.dropdown-content38 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown38:hover .dropdown-content38 {
    display: block;
}

.desc38 {
    padding: 15px;
    text-align: center;
}

.dropdown40 {
    position: relative;
    display: inline-block;
}

.dropdown-content40 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown40:hover .dropdown-content40 {
    display: block;
}

.desc40 {
    padding: 15px;
    text-align: center;
}

.dropdown41 {
    position: relative;
    display: inline-block;
}

.dropdown-content41 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown41:hover .dropdown-content41 {
    display: block;
}

.desc41 {
    padding: 15px;
    text-align: center;
}

.dropdown42 {
    position: relative;
    display: inline-block;
}

.dropdown-content42 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 5px;
}
.dropdown42:hover .dropdown-content42 {
    display: block;
}